:root {
    --black: #3b454e;
    --white: #ffffff;
    --dark-red: #7e424c;
}

@font-face {
    font-family: 'SF Mono';
    src: url(../fonts/SF-Mono.dmg);
}

* {
    font-family: 'SF Mono', Consolas, monospace;
    color: var(--black);
}

/**
 * Estilos para el header 
 */ 

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    background-color: var(--dark-red);
}

h1 {
    color: var(--white);
}

#trainee-it{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white);
}

.hero {
    height: 450px; 
    background: url(../assets/img/hero.jpg);
    background-size: cover;
}

.hero-2 {
    width: 100%;
    height: 100%;
    background: url(../assets/img/hero-2.png) no-repeat;
    background-size: contain;
    background-position: right 120px;
}

.menu {
    height: 60px;
    border-bottom: 1.4px solid var(--black);
    border-top: 1.4px solid var(--black);
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    height: inherit;
    list-style: none;
}

.menu__item {
    padding: 10px;
    border: 1.4px solid var(--black);
    border-bottom: 4px solid var(--black);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px; 
}

.menu__item:active {
    border: 1.4px solid var(--black);
}

#sobre-mi:target,
#herramientas:target,
#proyectos:target,
#github:target,
#contacto:target {
    border: 1.4px solid var(--dark-red);
    color: var(--dark-red);
}


/** 
 * Media queries: 
 * Acomodan los enlaces para que no desborden.
*/

/* @media screen and (max-width: 1024px) {
    .encabezado {
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 20px;
    }

    .encabezado__contenedor {
        margin-bottom: 30px;
    }

    .menu,
    .menu__list {
        height: max-content;
        width: 100%;
        justify-content: center;
    }

    .menu__item {
        max-width: max-content;
    }
}

@media screen and (max-width: 430px) {
    .encabezado__contenedor {
        flex-direction: column;
    }
} */