:root {
    --dark-blue: #1d3557;
    --orange: #f9975d;
    --black: #3b454e;
}

@font-face {
    font-family: 'SF Mono';
    src: url(../fonts/SF-Mono.dmg);
}

* {
    font-family: 'SF Mono', Consolas, monospace;
}

.encabezado{
    display: flex;
    justify-content: space-around;
    height: 70px;
    border-bottom: 1px solid var(--black);
    background-color: #ffffff;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    color: var(--dark-blue);
}

h1 {
    margin: 0 20px 0 0;
    color: var(--black);
}

#trainee-it{
    font-size: 1.3rem;
    font-weight: 400;
}

.menu {
    height: 70px;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 70px;
    list-style: none;
}

.menu__item {
    margin: 0 10px;
    padding: 10px;
    min-width: max-content;
    border: 1.4px solid var(--dark-blue);
    border-bottom: 4px solid var(--dark-blue);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px; 
}

.menu__link {
    color: var(--dark-blue);
}

.menu__item:active {
    border: 1.4px solid var(--dark-blue);
    margin-top: 7.6px;
    /* border-top: 4px solid var(--dark-blue); */
}

#sobre-mi:target,
#herramientas:target,
#proyectos:target,
#github:target,
#contacto:target {
    padding: 10px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border: 1.4px solid var(--orange);
    /* border-top: 4px solid var(--orange);  */
}

#sobre-mi:target a,
#herramientas:target a,
#proyectos:target a,
#github:target a,
#contacto:target a {
    color: var(--orange);
}


/* Media queries */

@media screen and (max-width: 1024px) {
    .encabezado {
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 20px;
    }

    .contenedor-titulo {
        margin-bottom: 30px;
    }

    .menu,
    .menu__list {
        height: max-content;
        width: 100%;
        justify-content: center;
    }

    .menu__item {
        max-width: max-content;
        margin: 5px;
    }
}

@media screen and (max-width: 430px) {
    .contenedor-titulo {
        flex-direction: column;
    }
}