:root {
    --black: #3b454e;
    --white: #ffffff;
    --main-color-scale-1: #4ad295;
    --main-color-scale-2: #0dbc79;
    --secundary-color-scale-1: #64acff;
    --secundary-color-scale-2: #0969da;
    --pink: #df47a4;
    --gray-scale-1: #f0f0f0;
    --gray-scale-2: #e0e3e6;
    --gray-scale-3: #787d82;
    --gray-scale-4: #686b6e;
    --silver-blue: #627597;
    scroll-behavior: smooth;
    /*
        colores oscuros:
            040D21 
            3e6683
            19253B
            3e6683
            0C162D
            303D56
    */
}

@font-face {
    font-family: 'SF Mono Regular';
    src: url(../fonts/SFMonoRegular.otf);
}

@font-face {
    font-family: 'Alliance No 1 Regular';
    src: url(../fonts/AllianceNo1-Regular.ttf);
}

@font-face {
    font-family: 'Alliance No 1 SemiBold';
    src: url(../fonts/AllianceNo1-SemiBold.ttf);
}

@font-face {
    font-family: 'Alliance No 1 Bold';
    src: url(../fonts/AllianceNo1-Bold.ttf);
}

* {
    font-family: 'SF Mono Regular', Consolas, monospace;
    color: var(--black);
}

/**
 * Estilos para el header 
 */ 

.header-responsive {
    display: none;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    height: 40px;
    background-color: var(--main-color-scale-1);
    background-color: #000000;
}

.header-responsive__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--main-color-scale-1);
}

.header-responsive__icon {
    width: 80%;
}

.header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 400px;
     background: url(../assets/img/space.jpg);
     background-size: cover;
     background-position: center;
}

.header__title {
    font-family: 'Alliance No 1 Bold', sans-serif;
    font-size: 4rem;
    color: var(--white);
}

.header__title > div {
    font-size: 2rem;
    color: var(--silver-blue);
    color: var(--main-color-scale-2);
}

.header__img {
    width: 320px;
    align-self: flex-end;
}

/**
 * Estilos para el navbar
 */ 

.menu {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 55px;
    background-color: var(--white);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    height: inherit;
    list-style: none;
}

.menu__link {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

.menu__link:active {
    background-color: rgba(224, 227, 230, 0.2);
}

.menu__item {
    font-size: 0.9rem;
}

.selected {
    border-color: var(--main-color-scale-2);
}

.selected .menu__item {
    color: var(--main-color-scale-2);
}

/**
 * Estilos para el main
 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.window {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 600px;
    border: 1px solid var(--gray-scale-2);
    border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    background-color: inherit;
    overflow: hidden;
}

.window-actual {
    margin-top: -10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.window__header {
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid var(--gray-scale-2);
    background-color: var(--gray-scale-1);
}

.window__circles {
    width: 40px;
    margin-left: 20px;
}

.window__subtitle {
    flex-grow: 1;
    margin: 0;
    text-align: center;
    font-family: 'Alliance No 1 Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-scale-3);
}

/**
 * Estilos para el sobre-mi
 */

.sobre-mi__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sobre-mi__img {
    flex-basis: 50%;
    height: 100%;
    background-image: url(../assets/img/about-me2.jpg);
    background-size: cover;
    background-position: center;
}

.sobre-mi__text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.window__title {
    font-family: 'Alliance No 1 SemiBold', sans-serif;
    font-size: 2.5rem;
    color: var(--silver-blue);
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    background-clip: text;  
        -webkit-background-clip: text;  
        -moz-background-clip: text;  
        -moz-text-fill-color: transparent;  
        -webkit-text-fill-color: transparent;
}

.sobre-mi__list {
    margin: 0;
    margin-left: 30px;
    padding-left: 10px;
    list-style: none;
    border-left: 2px solid var(--silver-blue);
}

.sobre-mi__item {
    margin-top: 5px;
    font-size: 0.9rem;
}

.sobre-mi__link {
    color: var(--secundary-color-scale-2);
    text-decoration: underline;
}

.ventajas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.ventajas__header {
    text-align: center;
}

.ventajas__title {
    font-family: 'Alliance No 1 SemiBold', sans-serif;
    font-size: 2.5rem;
}

.ventajas__body {
    display: flex;
    gap: 15px;
    text-align: center;
}

.ventajas__subtitle {
    font-family: 'Alliance No 1 SemiBold';
}

.ventajas__icon {
    width: 50px;
}

.color-green {
    color: var(--main-color-scale-2);
}

.color-pink {
    color: var(--pink);
}

.herramientas__body {
    display: flex;
    height: 100%;
    align-items: center;
}

.herramientas__title {
    margin: 0;
    flex-basis: 50%;
    height: max-content;
    padding: 50px;
    text-align: center;
}

.herramientas__icon-container {
    flex-basis: 50%;
    height: 100%;
    padding: 20px;
}

.herramientas__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.herramientas__icon {
    width: 100px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    height: 100px;
    background-color: var(--gray-scale-2);
}

.social-networks i {
    font-size: 20px;
    color: var(--gray-scale-3);
}

.social-networks i:hover {
    cursor: pointer;
    color: var(--gray-scale-4);
}

.autor {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: var(--gray-scale-3);
}

@media screen and (max-width: 1024px) {

    /**
     * Estilos para el main
     */

    .container {
        width: 100%;
    }

    .window {
        width: 80%;
    }

}

@media screen and (max-width: 795px) {
    /**
     * Estilos para el header 
     */ 

    .header-responsive {
        display: flex;
    }

    .header {
        flex-direction: column;
        justify-content: space-between;
    }

    .header__title {
        font-size: 8vw;
    }

    .header__title > div {
        font-size: 4vw;
    }

    .header__img {
        align-self: center;
    }

    /**
     * Estilos para el hero
     */
    
    .hero {
        flex-direction: column;
    }

    .hero__img {
        align-self: center;
    }

    /**
     * Estilos para el navbar
     */

    .menu {
        display: none;
        position: fixed;
        top: 40px;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: var(--main-color-scale-1);
    }

    .menu__list {
        flex-direction: column;
        align-items: stretch;
        height: 250px;
    }

    .selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .selected .menu__item, 
    .menu__item {
        color: var(--white);
    }

    .menu__link {
        justify-content: center;
        border-bottom: 1px solid rgba(360, 360, 360, 0.4);
    }

    /**
     * Estilos para el main
     */

    .sobre-mi__body {
        flex-direction: column-reverse;
    }

    .sobre-mi__title {
        margin: 0 0 20px 0;
        font-size: 2rem;
    }

    .sobre-mi__item {
        font-size: 0.8em;
    }

    .sobre-mi__img {
        width: 100%;
    }

    .herramientas__body {
        flex-direction: column;
        justify-content: center;
    }

    .herramientas__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .herramientas__title {
        flex-basis: auto;
    }

    .herramientas__icon {
        width: 100%;
    }
}